.info {
    height: 92.3vh;
    background-color: rgb(182, 182, 182);
    position: relative;
}
.info h3 {
    color: rgb(48, 48, 48);
}
.info p {
    font-size: large;
    color: #202225;
}
.info span {
    font-weight: 700;
    font-style: italic;
    color: rgb(73, 85, 76);
}
.all {
    height: 92.3vh;
}
.dropdown img {
    height: 20px;
    width: 20px;
}
#post li {
    font-size: large;
}
#post h2 {
    font-size: 60px;
}
#post h3 {
    text-align: center;
}
#post p {
    text-align: center;
}
#post img {
    margin: 0px 2px 0px 2px;
}
#hmgutu {
    font-size: 30px;
    color: black;
}
#bmgutu li {
    font-size: larger;
}
#bmgutu span {
    font-weight: 600;
    font-style: italic;
}
#hoko {
    font-size: 30px;
    color: black;
}
#boko li{
    font-size: larger;
}
#boko span {
    font-weight: 600;
    font-style: italic;
}
