.info {
    position: relative;
    height: auto;
    background-color: rgb(182, 182, 182);
}
#myphoto {
    box-shadow: 5px 5px 10px 0px rgb(80, 80, 80);
    margin-top: 100px;
}
.info h3 {
    color: rgb(48, 48, 48);
}
.info li {
    font-size: large;
    color: #202225;
}
.info ul {
    margin-bottom: 269px;
}
.info span {
    font-weight: 700;
    font-style: italic;
    color: rgb(73, 85, 76);
}
.all {
    height: 200px;
}
.dropdown img {
    height: 20px;
    width: 20px;
}
#post li {
    font-size: large;
}
#post h2 {
    font-size: 60px;
}
#post h3 {
    text-align: center;
}
#post p {
    text-align: center;
}
#post img {
    margin: 0px 2px 0px 2px;
}
#hexp {
    font-size: 30px;
    color: black;
}
#bodyexp li{
    font-size: larger;
}
#bodyexp span {
    font-weight: 600;
    font-style: italic;
}
