@import url('<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">');

.info {
    position: relative;
    height: auto;
    background-color: #c9c9c9;
    border-style: solid;
    box-shadow: 0px 1px 5px 1px rgb(80, 80, 80);
    border-width: 1px;
    border-color: #e6e6e6;
    z-index: 999;
}
.myrow {
    margin-left: 0; 
    margin-right: 0;
}
.mycol {
    padding-left: 0; 
    padding-right:0;
}
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
}
#myphoto {
    box-shadow: 5px 5px 10px 0px rgb(80, 80, 80);
    margin-top: 1vh;
}
.info h3 {
    color: rgb(48, 48, 48);
}
.info li {
    font-size: large;
    color: #202225;
}
.info ul {
    margin-bottom: 1vh;
}
.info span {
    font-weight: 700;
    font-style: italic;
    color: rgb(1, 104, 28);
}
.upinfo {
    margin-top: 10vh;
}
.downinfo {
    margin-bottom: 29.3vh;
}
.all {
    position: relative;
    height: auto;
}
.dropdown img {
    height: 20px;
    width: 20px;
}
#navall {
    font-size: 1.7vh;
    font-weight: 600;
    margin-top: 6vh;
    box-shadow: 0px 1px 5px 1px rgb(80, 80, 80);
}
#navall a {
    color: #575757;
}
#post li {
    font-size: 2vh;
}
#am li {
    margin-left: 5vh;
}
#post h2 {
    font-size: 6vh;
    margin-left: 5vh;
}
#post h3 {
    text-align: center;
    font-size: 4vh;
    margin-bottom: 0px;
}
#post p {
    text-align: center;
}
#post img {
    margin: 0px 1vw 0px 1vw;
}
#experience {
    margin-top: 0.6vh;
}
#hexp {
    font-size: 3vh;
    color: black;
    text-decoration: none;
    display: block;
    width: 100%;
    border: none;
    cursor: pointer;
    text-align: center;
}
#hexp:hover {
    color: #5f87c4;
}
#bodyexp li{
    font-size: 1.7vh;
}
#bodyexp span {
    font-weight: 600;
    font-style: italic;
}
#college {
    background-color: rgb(218, 218, 218);
    box-shadow: 0px 1px 5px 1px rgb(80, 80, 80);
    padding-top: 1vh;
    padding-bottom: 1vh;
    height: 150px;
    margin-top: 1vh;
}
#education li {
    font-size: 1.7vh;
}
#education h4{
    text-align: center;
}
#mgutu {
    background-color: rgb(218, 218, 218);
    box-shadow: 0px 1px 5px 1px rgb(80, 80, 80);
    padding-top: 1vh;
    padding-bottom: 1vh;
    height: 150px;
    margin-top: 1vh;
}
#education span {
    font-weight: 600;
    font-style: italic;
}
#language {
    background-color: rgb(218, 218, 218);
    box-shadow: 0px 1px 5px 1px rgb(80, 80, 80);
    padding-top: 1vh;
    height: auto;
    padding-bottom: 1vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}